<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css/rtl.css" rel="stylesheet" />
    <link href="~/Content/css/site.css" rel="stylesheet" />
</head>
<body>
    <section class="material-half-bg">
        <div class="cover"></div>
    </section>
    <section class="login-content">
        <div class="login-box">
            @RenderBody()
        </div>
    </section>
    <footer class="main-footer text-center">
        <!-- <strong>طراحی و ساخت توسط <a href="http://partopc.ir"> حسین احسانی فر</a> </strong> -->
        <strong>  </strong>
    </footer>
    <script src="~/Content/js/jquery.min.js"></script>
    <script src="~/Content/js/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Content/js/bootstrap.min.js"></script>
    <script src="~/Content/js/sweet2.js"></script>
</body>

</html>


